@{
    ViewBag.Title = "Education";
}

<h2>@ViewBag.Title</h2>
<h3> <a href="https://trios.com"> <img src="~/Content/Icons/triOS_logo.gif" width="200" height="50" /> 
     </a>  - Diploma (2022 - 2023)</h3>
<h4>Application Developer</h4>
<p>
    First and foremost I am learning to be a developer. I
    am receiving constant practice and reinforcment of general skills
    such as logic, design, debugging, structured and object
    oriented skills.
</p>
<p>
    I am getting work with many technologies such as Adobe product,
    HTML, CSS and JavaScript. I am also being exposed to C++, Java,
    PHP and Pyton. There is also a focus on Microsoft thechnologies such as C# and ASP.NET.
</p>
<p>
    I am Learning Mobile App develompment for Android and IOS becoming
    familiar with Android Studio and XCode.
</p>

<h3> <a href="https://www.conestogac.on.ca/"><img src="~/Content/Icons/Conestoga_College_logo-(1).gif" width="150" height="50" />
     </a> - Certificate (2021 - 2022)</h3>
<h4>Java Developer</h4>
<p>
    Learn to implement Object-oriented principles using the fundamentals of 
    Java programming and develop skills in developing applications for desktop, 
    mobile, web applications and accessing/manipulating data from database tables, 
    how to access database via Java servlets on the Internet to meet today's business needs.
</p>
<h3> <a href="https://www.biu.ac.il/en"><img src="~/Content/Icons/Bar_Ilan_logo2.gif" width="200" height="50" />
     </a>  - Bachelor of Science (2004 - 2008)</h3>
<h4>BioTechnology</h4>
<p>
    The study program includes basic studies in various areas (physics, chemistry, mathematics, life sciences, computer sciences).<br/>
    There is no "living matter". The phenomenon of life takes place due to processes that occur in matter that is itself inanimate. 
    In-depth understanding of the phenomenon of life and all the properties of various animals is possible 
    only based on a unification of the knowledge that exists in disciplines that research the natural material world.
    Fields of molecular and systemic biophysics which are based on the knowledge acquired in the
    disciplinary departments and implement the interdisciplinary unification of the acquired knowledge.
</p>
