@{
    ViewBag.Title = "Experience";
}

<h2>@ViewBag.Title</h2>

<h3><a href="https://growmushroomscanada.ca"><strong> Grow Mushrooms Canada </strong></a>(2022 - Present)</h3>
<h4>Web Application Developer </h4>
<ul>
    <li>Developed and maintained eCommerce web application from concept all the way to completion, fashioning home page, site layout and functions.</li>
    <li>Developed and implement procedures for ongoing Web site revision</li>
    <li>Implemented Web applications using React, Java spring boot and relational DB such as SQL</li>
    <li>Analyzed user needs and software requirements to determine design feasibility</li>
    <li>Integrated data from various back-end services and databases</li>
    <li>Designed front-end and back-end solutions for test-driven development</li>
</ul>

<h3><a href="https://fierafoods.com"><strong> Fiera Foods </strong></a>(2017 - 2022)</h3>
<h4>QA Specialist</h4>
<ul>
    <li>Performed Data analysis, developed and maintained databases to support business goals</li>
    <li>Implemented standards for collecting and storing data, and using data to gain key business insights</li>
    <li>Executed customer’s technical and regulatory troubleshooting on calls</li>
    <li>Cost reduction opportunities without compromising product quality by evaluating process and providing technical support to QA department</li>
</ul>

<h3><a href="https://cocacola.com"><strong> Coca-Cola Int. </strong></a>(2010 - 2017)</h3>
<h4>R&D Project Manager</h4>
<ul>
    <li>Implemented projects for each of the company's clients including meeting with each customer in their home country</li>
    <li>Liaised with Quality Assurance/Control, Regulatory, Sales & Marketing, and Production teams in a professional and supportive manner to coordinate <br/>
        all necessary elements by analysis of market  trends</li>
    <li>Prepared presentations of developed products and processes for clients</li>
    <li>Lead projects from scratch to ready to use products based on customer's information and feedback</li>
</ul>