@{
    ViewBag.Title = "Introduction";
}


<div class="row">
    <div class="col-md-4">
        <h2>Who I Am</h2>
        <img src="~/Content/Icons/Profile-picture_1.gif" id="banker" width="170" height="200" />
        <p>
            Flexible tech-savvy developer ready to learn and contribute to team success. Creative and innovative thinker.
            Having excellent interpersonal relations.
            Great team player. I truly believe in continued education
            and research of new software methods to achieve my company’s long-term goals.<br />
            With a bachelor’s degree and a determination to be one of the best in the field,
            I am the right applicant.
        </p>
    </div>

    <div class="col-md-4">
        <h2>Why you want to hire me</h2>
        <p>
            I can determine ways to improve performance, speed and usability and
            then relay this information to senior programmers.
            I have also acquired the ability to troubleshoot technical issues to find the
            cause and to implement a solution to problems as they arise.
            My interpersonal skills make it easy to work with a team or lead a team by overseeing the staff,
            assigning tasks and monitoring the workload to ensure everything stays on schedule.
            I stay updated on all the latest changes that take place in the industry.
        </p>
        <p>
            I believe my dedication, work ethic and passion for software development will make me a valuable addition to the development team.
            I would love the chance to speak with you further about the role and how I can make a positive contribution to your organization.
        </p>
    </div>
    <div class="col-md-4">
        <h2>How to find me</h2>
        <p>
            <a href="tel:+16478702870"><img src="~/Content/Icons/blue-phone-7152.svg" width="25" height="25" />  (647) 870-2870 </a>
        </p>
        <p>
            <a href="mailto:andreyfaigon@gmail.com"><img src="~/Content/Icons/Mail_(iOS).svg" width="25" height="25" />  andreyfaigon@gmail.com</a>
        </p>
        <p>
            <a href="https://www.linkedin.com/in/andrey-faigon-full-stack-developer/"><img src="~/Content/Icons/LinkedIn-Icon-Logo.wine.svg" width="50" height="25" />Andrey Faigon</a>
        </p>
        <p>
            <a href="https://github.com/nitro3000"><img src="~/Content/Icons/GitHub_Logo.svg" width="50" height="25" />Nitro-3000</a>
        </p>

    </div>
</div>