@{
    ViewBag.Title = "Projects";
}
<h2>@ViewBag.Title</h2>
<h3>React</h3>
<p>
    I have created using JavaScript, HTML and CSS a Web Portfolio(shown bellow).
    It uses the NextJS and component approach
    to provide an interactive  experience.
</p>
<iframe src="https://faigon.tech/" width="800" height="300" title="React Portfolio"></iframe>

<h3>Angular</h3>
<p>
    I have created using TypeScript, HTML and SCSS a Web Portfolio(shown bellow).
    It uses the Material Design components for Angular to build UI components
    to provide an interactive  and responsive experience.
</p>
<iframe src="https://portfolio1.faigon.tech/" width="800" height="300" title="Angular Portfolio"></iframe>

<h3>JavaFX Media Demo</h3>
<p>
    I have created using Java a JavaFX application(shown bellow).
    It uses the Media and MediaPlayer classes and eventhandling
    to provide an interactive audio and video experience.
</p>
<img src="~/Content/Javafx-MediaApp.png" width="800" height="300" alt="MediaDemo" />

<h3>SQL Database</h3>
<p>
    I have created a SQL Server Database using SQL Server Managment
    Studio and script. The database uses foreign key primery key relationships to relate tables to one another. Also contains triggers,clustered index, views and data maintanance plan
</p>
<img src="~/Content/TASK1PART2_Diagram.png" width="800" height="300" alt="SQL" />

<h3>ASP.NET</h3>
<h4> </h4>
<p>
    This website was created on ASP.NET and APIs using the Model-View-Controller design pattern <br />
    Click <a href="https://trios.com">here</a> to see the project code
</p>

<iframe src="https://afportfolio2022.azurewebsites.net" height="300" width="800" title="Iframe Portfolio"></iframe>

<h3>Web Development</h3>
<h4> </h4>
<p>
    This website created on ASP.NET using HTML, CSS and JavaScript.
    In the approach to make  Responsive Web design this web site consists of a mix of flexible grids and layouts, images and an intelligent use of CSS media queries <br />
    Click <a href="https://triosdevelopers.com/~A.Faigon/Numismatic/index.html">here</a> to see the published project
</p>

<iframe src="https://triosdevelopers.com/~A.Faigon/Numismatic/index.html" height="300" width="800" title="Iframe Numismatic"></iframe>

<h3>Web Development</h3>
<h4> </h4>
<p>
    This Invitation letter created on ASP.NET Core MVC using HTML, CSS and C# with help of jquery and bootstrap <br />
    Click <a href="https://afpartyinvites2022.azurewebsites.net">here</a> to see the published project
</p>

<iframe src="https://afpartyinvites2022.azurewebsites.net" height="300" width="800" title="Iframe RSVP"></iframe>

<h3>Adobe Photoshop and Adobe Illustrator</h3>
<container id="adobeProjects">
    <div>
        <p>This Post card was created using the Adobe Potoshop <br /></p>
        <img src="~/Content/HawaiiPostCard.png" width="150" height="180" />
    </div>

    <div>
        <p>This logo was created using the Adobe Illustrator <br /></p>
        <img src="~/Content/Icons/FaigonTech_logo_1@5x.png" width="250" height="60" />
    </div>
    <div>
        <p>This SVG logo was created using the Adobe Illustrator <br /></p>
        <img src="~/Content/Icons/FaigonTech_logo_short_bw.svg" width="150" height="60" />
    </div>
    <div>
        <p>This logo was created using the Adobe Illustrator <br /></p>
        <img src="~/Content/Icons/sale_10.jpg" width="150" height="150" />
    </div>
    <div>
        <p>This Favicon was created using the Adobe Illustrator <br /></p>
        <img src="~/Content/Icons/Artboard 3@4x.png" width="150" height="150" />
    </div>
</container>