@{
    ViewBag.Title = "Skills";
}

<h2>@ViewBag.Title</h2>

<div class="row1">

    <div class="column1">
        <h4><strong>Coding:</strong></h4>
        <ul>
            <li>Java</li>
            <li>C#</li>
            <li>JavaScript</li>
        </ul>
    </div>

    <div class="column1">
        <h4><strong>IDE:</strong></h4>
        <ul>
            <li>Visual Studio</li>
            <li>IntelliJ</li>
            <li>NetBeans</li>
        </ul>
    </div>

    <div class="column1">
        <h4><strong>DBMS:</strong></h4>
        <ul>
            <li>MySQL</li>
            <li>Excel</li>
            <li>MS Access</li>
        </ul>
    </div>
</div>

<div class="row2">

    <div class="column2">
        <h4><strong>Backend:</strong></h4>
        <ul>
            <li>NodeJS</li>
            <li>ASP.NET</li>
            <li>ASP.Net Core</li>
            <li>Postman</li>
        </ul>
    </div>

    <div class="column2">
        <h4><strong>Frameworks:</strong></h4>
        <ul>
            <li>React</li>
            <li>Spring</li>
            <li>Angular</li>
            <li>jQuery</li>
        </ul>
    </div>

    <div class="column2" style="">
        <h4><strong>Frontend:</strong></h4>
        <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>XML</li>
            <li>Bootstrap</li>
        </ul>
    </div>
</div>

<br />
<br />

<h3>HTML, CSS, Bootstrap and JavaScript</h3>
<p>
    Skilled in IntelliJ and VS Code developing
    interactive applications and websites using HTML, CSS, Bootstrap and JavaScript
    to create user-friendly and attractive interface.
</p>

<h3>C#, ASP.NET Core, ASP.NET</h3>
<p>
    Excelent in C# developing using ASP.Net core, MVC, web frames to create
    interactive and responsive websites with help of HTML, CSS and JavaScript.

</p>

<h3>React/Angular, CSS and JavaScript</h3>
<p>
    Proficient in Visual Studio and VS Code developing
    interactive websites using XML and JavaScript.
    Familiar with Angular/React, Express and NodeJS for interactivity.
</p>

<h3>
    Database  Design and Development
</h3>
<p>
    Proficient in both SQL Server and MySQL. Capabilities
    include Data modelling and Database Development of relational databases.
</p>

<h3>
    Java Development
</h3>
<p>
    Developing application code for java programs using technologies such as EJB (Enterprise Java Beans),JSP.
    Familiar with concepts of MVC, JDBC, RESTful API and Java GUI frameworks.
</p>

<h3>Adobe Creative Cloud</h3>
<p>
    Superb in Photoshop and Ilustrator. Capabilities include
    color correction,complex selections, optimization of images
    for use on the web using Photoshop. Using Illustrator I am proficient
    with vector graphics for logos and company branding as well as
    creating storyboards and wireframes.
</p>


